.categories {
  margin-top: 20px;
}

.category {
  display: flex;
  flex-direction: row;
  background-color: #1C9C7C;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  margin: 10px 0;
  padding-left: 10px;
  width: 100%;
  align-items: center;
}


.categoryForm {
  margin: 0 10px 0 auto;
}
