.subcategories {
  margin-top: 20px;
}

.subcategory {
  display: block;
  background-color: #1C9C7C;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  margin: 10px 0;
  padding-left: 10px;
  width: 100%;
}

.subcategoryWrapper {
  display: flex;
  align-items: center;
}

.subcategoryForm {
  margin: 0 10px 0 auto;
}

.selectForm {
  width: 100%;
}